<html>
    <head>
        <title>ID Card Form</title>
    </head>

    <body>
        <h1>Fill Out This Form</h1>
        <form action="/idcard" method="POST">
            School Name: <input type="text" name="school_name">
            <br/>
            Your Name: <input type="text" name="name">
            <br/>
            ID #: <input type="text" name="id">
            <br/>
            Email Address: <input type="text" name="email">
            <br/>
            <input type="submit">
        </form>
    </body>
</html>