.card_box {
    text-align: center;
    background: rgb(255, 184, 151);
    border-color: rgb(230, 96, 34);
    border: 20 px;
    border-radius: 100 px;
}


.school_name {

}


.name {

}


.id {

}


.email {

}