<html>

    <head>
        <title>ID Card</title>

        <!-- <link href="css/id_card.css" rel="stylesheet" type="text/css"> -->
    </head>

<body>
    <div>
        <em style="font-size: 2em; 
            font-weight: bold;">{{ school_name }}</em>
        <br/>
        <em style="font-size: 1.5em;
            font-style: italic;">{{ name }}</em>
        <br/>
        <em style="font-size: .75em;">{{ id }}</em>
        <br/>
        <em style="font-size: .75em;">{{ email }}</em>
    </div>
</body>

</html>